<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% load static %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}">

    <title>Home</title>
</head>
<body class="body">
    <div class="header">
    <h2><a href="#">Test App</a>____|-<a href="#">Home</a>-|_______________________________________<a href="/sigin">Sigin</a></h2>
    </div>
    
<div>
<h4>Welcome to the Test</h4>
<p>We are going to build a cool application using a MVC framework! This application was build in Django1.11 version and python 2.7 verion</p>
<button><a href="/sigin">Start</a></button>

</div>
<div>
    <h4>Manage users</h4>
    <p>Using this application,you will learn how to add , remove and edit users from the application.</p>
    <h4>Leave massages</h4>
    <p>Using will be able to leave a massage to another user using this application.</p>

    <h4>Edit User information</h4>
    <p>Admins will be able to edit another users information (email address,first name,last name,etc).</p>
    


</div>







    
</body>
</html>